<div class="container">
  <div class="keep-it-centered" style="min-height: 100vh;">

    <mat-card class="gist-card">
      <mat-card-content style="text-align: center;">

        <h2>Forgot Password?</h2>
  
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" #passwordResetEmail required>
          </mat-form-field>
  
          <button mat-raised-button color="accent" type="submit" (click)="authService.ForgotPassword(passwordResetEmail.value)">
            Reset Password
          </button>
      </mat-card-content>
    </mat-card>


    </div>
</div>
