  <div class="container">
    <div class="keep-it-centered" style="min-height: 100vh;">

      <mat-card class="gist-card">
        <mat-card-content style="text-align: center;">

          <h2>Register User</h2>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" #userEmail required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput type="password" #userPwd required>
          </mat-form-field>

          <button mat-raised-button color="accent" type="submit"
            (click)="authService.SignUp(userEmail.value, userPwd.value)">
            Sign Up
          </button>
        </mat-card-content>
      </mat-card>


    </div>
  </div>
