<app-navbar></app-navbar>

<div class="container py-3">

  <p class="text-secondary">All Gists</p>

  <mat-card class="gist-card mb-3" *ngFor="let gist of gists">
    <mat-card-header>
      <mat-card-title>
        {{gist.payload.doc.data().title}}
      </mat-card-title>
      <mat-card-subtitle>
        {{gist.formattedTime}} | {{gist.payload.doc.data().email}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <pre class="d-flex">
        <code [highlight]="gist.code" class="gist-code w-100"></code>
      </pre>
    </mat-card-content>
  </mat-card>

</div>
