  <div class="container">
    <div class="keep-it-centered" style="min-height: 100vh;">

      <mat-card class="gist-card">
        <mat-card-content style="text-align: center;">

          <h2>Welcome to the party!</h2>
          <p class="text-secondary" *ngIf="authService.userState as user">Confirmation mail has been sent to
            <strong>{{user.email}}</strong>.</p>

          <button mat-raised-button color="accent" (click)="authService.SendVerificationMail()">
            Resend Verification Email
          </button>
        </mat-card-content>
      </mat-card>


    </div>
  </div>
