<app-navbar></app-navbar>

<div class="container py-3">

  <p class="text-secondary">New Gist</p>

  <mat-card class="gist-card">
    <mat-card-content>

      <form #newGistForm="ngForm">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Title</mat-label>
          <input matInput name="title" ngModel required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Code Snippet</mat-label>
          <textarea matInput name="code" ngModel rows="16" required></textarea>
        </mat-form-field>

        <button mat-raised-button color="accent" class="mb-3" type="submit" (click)="createGist(newGistForm)">
          Create
        </button>

      </form>
    </mat-card-content>
  </mat-card>

</div>
