/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/github.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #fcfcfc;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

.gist-code {
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-family: monospace !important;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.text-secondary {
  opacity: 0.6;
}

.router-link {
  opacity: 0.6;
  transition: ease .2s;
  cursor: pointer;
}

.router-link:hover {
  opacity: 1;
}

.keep-it-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .show-lg {
      display: none !important;
  }
}

@media (min-width: 1024px) {
  .show-sm {
      display: none !important;
  }
}